* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    border: 0;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    margin: auto;
    padding: 0;
}
ul li {
    list-style-type: none;
}
.container {
    width: 1280px;
    margin: auto;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.container::before,
.container::after {
    content: '';
    clear: both;
}
.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}
[class^="col-"] {
    position: relative;
    margin: 0;
    padding: 0 5px;
}
.col-25 {
    width: 25%;
    flex: 0 0 25%;
}
.col-75 {
    width: 75%;
    flex: 0 0 75%;
}
.img-container {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
}
.img-container img {
    display: none;
}
.color-red {
    color: #d42026;
}
.color-white {
    color: #ffffff;
}
.bg-red {
    background-color: #d42026;
}
header {
    width: 100%;
    padding-top: 20px;
}
header .header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header .header-content h2 {
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
}
header .header-content h2 span {
    font-weight: 900;
}
header .header-content h2 .detail {
    width: 54px;
    height: 4px;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
main .search-section {
    margin: 34px auto;
    width: 100%;
}
main .search-section .search-field label {
    font-size: 16px;
    line-height: 1.2;
    display: inline-block;
}
main .search-section .search-field input {
    border: 1px solid #a5a5a5;
    width: 400px;
    height: 31px;
    display: block;
    margin: 0;
    border-radius: 3px;
    padding: 3px;
    font-size: 16px;
    line-height: 1.2;
    color: #4e4e4e;
}
main .search-section .search-field input:active,
main .search-section .search-field input:focus {
    outline-color: #d42026;
}
main .list-section .loader {
    margin: 50px auto;
}
main .list-section .list-header h3 {
    font-size: 16px;
    line-height: 1.2;
    padding: 9px 15px;
}
main .list-content {
    border-bottom: 2px solid rgba(212, 32, 38, 0.5);
}
main .list-content h2.list-empty {
    padding: 20px 10px;
    color: #d42026;
    font-size: 21px;
}
main .list-content .list-item {
    height: 112px;
    border-bottom: 2px solid rgba(212, 32, 38, 0.5);
}
main .list-content .list-item:last-of-type {
    border-bottom: none;
}
main .list-content .list-item:hover {
    background-color: rgba(212, 32, 38, 0.1);
}
main .list-content .list-item .row {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}
main .list-content .list-item .char-info {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px 10px;
}
main .list-content .list-item .char-info .img-container {
    margin-right: 25px;
    flex: 0 0 56px;
}
main .list-content .list-item h4,
main .list-content .list-item p {
    font-size: 21px;
    color: #4e4e4e;
    line-height: 1.1;
}
main .list-content .list-item .char-description {
    overflow: hidden;
    display: flex;
    padding: 20px 10px;
    max-height: 100%;
    height: 100%;
}
main .list-content .list-item .char-description p {
    overflow: hidden;
    max-height: 100%;
}
main .pagination-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
main .pagination-section .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin: 16px auto; */
    margin: 30px auto;
}
main .pagination-section .pagination li {
    margin-left: 20px;
    border: 1px solid #d42026;
    border-radius: 50%;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .pagination-section .pagination li.active {
    background-color: #d42026;
}
main .pagination-section .pagination li a {
    color: #d42026;
    font-size: 21px;
    line-height: 1.1;
}
main .pagination-section .pagination li a.disabled {
    pointer-events: none;
    color: rgba(212, 32, 38, 0.65);
}
main .pagination-section .pagination li.active a {
    color: #ffffff;
}
main .pagination-section .pagination li:nth-child(2) {
    margin-left: 12px;
}
main .pagination-section .pagination .page-control {
    border: 1px solid transparent;
    border-radius: 0; 
    width: 12px;
    height: 16px;
}
main .pagination-section .pagination .page-control:last-of-type {
    margin-left: 12px;
    margin-right: 20px;
}
main .pagination-section .pagination .page-control a:disabled {
    color: rgba(212, 32, 38, 0.65);
}
.modal {
    background-color: rgba(33, 33, 33, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
    transition: opacity .15s linear;
    opacity: 0;
}
.modal.show {
    opacity: 1;
    display: flex;
}
.modal .modal-container {
    width: 600px;
    max-width: 100%;
    margin: 60px auto;
    background-color: #ffffff;
    height: calc(100vh - 120px);
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}
.modal .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.modal .modal-header {
    background-color: #d42026;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.modal .modal-header h5 {
    font-size: 21px;
}
.modal .modal-header button {
    background: transparent;
    border: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: 900;
    cursor: pointer;
}
.modal .modal-header button:active,
.modal .modal-header button:focus {
    outline: none;
}
.modal .modal-body {
    padding: 20px;
    overflow-y: auto;
}
.modal .modal-body .char-details {
    color: #4e4e4e;
}
.modal .modal-body .char-details .char-section {
    margin-bottom: 20px;
}
.modal .modal-body .char-details .char-section .char-title {
    margin-bottom: 10px;
    padding-bottom: 3px;
    font-size: 18px;
    border-bottom: 2px solid #d42026;
    color: #303030;
}
.modal .modal-body .char-details .char-header .char-img {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.modal .modal-body .char-details .char-header .char-name h2 {
    text-align: center;
    font-size: 26px;
}
.modal .modal-body .char-details .char-description p {
    font-size: 16px;
    line-height: 1.4;
}
.modal .modal-body .char-details .char-media ul {
    margin: auto -5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.modal .modal-body .char-details .char-media ul li {
    flex-basis: 33.33334%;
    flex-grow: 0;
    padding: 0 5px;
    position: relative;
}
.modal .modal-body .char-details .char-media ul li .media-img {
    height: 250px;
    border-radius: 0;
    width: 100%;
    background-position: center center;
}
.modal .modal-body .char-details .char-media ul li .media-img img {
    max-width: 100%;
}
.modal .modal-body .char-details .char-media ul li h5 {
    font-size: 16px;
    color: #d42026;
    margin-top: 5px;
}
.modal .modal-footer {
    background-color: #d42026;
    height: 10px;
    flex: 0 0 10px;
}
footer .bg-footer {
    height: 12px;
    width: 100%;
}
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #d42026;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width: 1294px) {
    .container {
        width: 985px;
    }
    .col-25 {
        min-width: 300px;
        width: 300px;
        flex: 0 0 300px;
    }
    .col-75 {
        width: 100%;
        flex: 0 1 100%;
    }
}
@media (max-width: 1000px) and (min-width: 895px) {
    .container {
        width: 880px;
    }
}
@media (max-width: 894px) {
    * {
        max-width: 100%;
    }
    .hide-mobile {
        display: none!important;
    }
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .col-25 {
        width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }
    .col-75,
    .my-name {
        display: none;
    }
    .row {
        margin: 0;
    }
    header {
        padding-top: 12px;
        padding: 12px 30px 0;
    }
    header .header-content h2 {
        font-size: 16px;
        line-height: 1.2;
    }
    main .search-section {
        margin: 12px auto;
        padding: 0 30px;
    }
    main .list-content .list-item {
        height: auto;
    }
    main .list-content .list-item .char-info {
        padding: 18px 20px;
    }
    /* main .list-content .list-item .char-info h4 {
        max-height: 46px;
        overflow: hidden;
    } */
    main .pagination-section .pagination {
        margin: 18px auto 24px;
    }
    main .pagination-section .pagination li {
        flex-shrink: 0;
    }
    main .pagination-section .pagination li:nth-child(2) {
        margin-left: 60px;
    }
    main .pagination-section .pagination .page-control {
        width: auto;
        height: 32px;
    }
    main .pagination-section .pagination .page-control a {
        font-size: 32px;
        height: 32px;
        margin-bottom: 4px;
        line-height: 1;
    }
    main .pagination-section .pagination .page-control:first-of-type {
        margin-left: 30px;
    }
    main .pagination-section .pagination .page-control:last-of-type {
        margin-left: 60px;
        margin-right: 30px;
    }
    .modal .modal-container {
        width: 95%;
        max-width: 600px;
    }
    .modal .modal-body .char-details .char-description p {
        font-size: 14px;
    }
    .modal .modal-body .char-details .char-media ul {
        /* flex-direction: column; */
        /* margin: 0; */
        flex-wrap: wrap;
    }
    .modal .modal-body .char-details .char-media ul li {
        width: 100%;
        /* max-width: 180px; */
        margin: 0;
        flex-basis: 100%;
        padding: 0 5px 10px;
    }
    .modal .modal-body .char-details .char-media ul li .media-img {
        max-width: 180px;
        margin: auto;
        height: 220px;
    }
    .modal .modal-body .char-details .char-media ul li {
        text-align: center;
    }
}